<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
    <title>Bio-informatica Pipeline | Nanopore Analyse</title>
</head>
<body>
    <header>
        <h1>Geautomatiseerde Nanopore Analyse</h1>

        <nav>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('tools') }}">Tools</a>
            <a href="{{ url_for('onderzoek') }}">Onderzoeksvragen</a>
            <a href="{{ url_for('reference') }}">Reference genomen</a><br><br>
            <a href="{{ url_for('index') }}">Terug naar Analyse</a>
        </nav>
    </header>

    <h1>Gebruikte parameters</h1>

    <div class="vakken">
        <div class="tools">
            <p><strong>Minimap2</strong></p>
            <p>
                Minimap2 vergelijkt Nanopore-reads (FASTQ) met een referentiegenoom.
                De output is een SAM-bestand met CIGAR-strings die verschillen
                tussen gemeten DNA en het referentiegenoom beschrijven.
            </p>
            <br>

            <p><strong>Vaste parameters:</strong></p>
            <p>-x map-ont: <br> Voor standaard Nanopore data (foutmarge ~10%)</p>
            <p>-a: <br> Zorgt dat de output in SAM-formaat is</p>
            <br>

            <p><strong>Kiesbare parameters:</strong></p>
            <p>-t: Bepaalt hoeveel processorkernen (threads) er gebruikt worden</p>
            <p>-N: Bepaalt de nauwkeurigheid van de threshold en minder kans op foutieve conclusie</p>

        </div>

        <div class="tools">
            <p><strong>SAMtools</strong></p>
            <p>
                SAMtools zet grote SAM-bestanden om naar BAM-bestanden, sorteert ze
                en maakt een index. Hierdoor kan de data sneller en efficiënter
                geanalyseerd worden.
            </p>
            <br>

            <p><strong>Vaste parameters:</strong></p>
            <p>view -b: <br> Zet de SAM-bestand om in BAM-formaat</p>
            <p>sort: <br> Zet alle DNA-stukjes op volgorde van positie (1, 2, 3...)</p>
            <p>index: <br> Maakt een "inhoudsopgave" (.bai bestand) aan</p>
            <br>

            <p><strong>Kiesbare parameters:</strong></p>
            <p>-q: Filtert onbetrouwbare koppelingen weg</p>

        </div>

        <div class="tools">
            <p><strong>BCFtools</strong></p>
            <p>
                BCFtools detecteert echte genetische variaties en filtert ruis.
                De uiteindelijke output is een VCF-bestand met betrouwbare mutaties.
            </p>
            <br>

            <p><strong>Vaste parameters:</strong></p>
            <p>mpileup -Ou: <br> Genereert een tijdelijk bestand in het geheugen voor maximale snelheid</p>
            <p>call -m: <br> Gebruikt het moderne multiallelic rekenmodel</p>
            <p>call -v: <br> Geeft een kleine, snelle tabel, en laat alleen de mutaties zien</p>
            <br>

            <p><strong>Kiesbare parameters:</strong></p>
            <p>call -p: Bepaalt hoe streng de controle is op een foutje</p>

        </div>
    </div>

<footer>
    <div id="makers">
        <h2>Makers</h2>
        <p>Deze website en analyse-pipeline zijn ontwikkeld door:</p>
        <ul>
            <li>Lucas</li>
            <li>Jasmijn</li>
            <li>Vani</li>
        </ul>
    </div>

    <p>Bio-informatica project – Nanopore sequencing</p>
</footer>

</body>
</html>