<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
        <title>Bio-informatica Pipeline | Nanopore Analyse</title>
    </head>
    <body>
    <header>
        <h1>Geautomatiseerde Nanopore Analyse</h1>
        <p> Bio-informatica project – DNA variant detectie</p>

    </header>
    <nav>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('tools') }}">Tools</a>
        <a href="{{ url_for('onderzoek') }}">Onderzoeksvragen</a>
        <a href="{{ url_for('reference') }}">Reference genomen</a><br><br>
    </nav>

    <div class="parent">
         <div class="child">
            <h1>input</h1>
             <form action="/" method="POST" enctype="multipart/form-data">
                 <p class="input_output">Voeg hier uw document toe:</p>
                 <input type="file" name="data">
                 <br><br>

                 <p class="input_output">Wat wilt u als resultaat?</p>

                 <input type="checkbox" name="tabel_snps" id="tabel_snps" value="yes">
                 <label for="tabel_snps">Een tabel met al de snp's </label><br>
                 <input type="checkbox" name="mutations" id="mutations" value="yes">
                 <label for="mutations">Een tabel met de mutaties, hun locaties en welk type</label><br>
                 <input type="checkbox" name="qualityscore" id="qualityscore" value="yes">
                 <label for="qualityscore">Een kwaliteitsscore</label><br>
                 <input type="checkbox" name="vcf_file" id="vcf_file" value="yes">
                 <label for="vcf_file">A vcf document met alle snp's en hun data</label><br>

                <br>
                <button type="submit" class="button btn_submit">Start Analyse</button>

             </form>
         </div>

        <div class="child">
            <h1>Het Resultaat</h1>

            {% if not show_results %}
                <p>Upload een bestand en druk op submit om de analyse te starten.</p>
            {% else %}
                <p>Status: <strong>{{ uitslag.status }}</strong></p>
                <p>Bestand: {{ uitslag.filename }}</p>

                <div class="resultaat">
                    <table>
                        <thead>
                            <tr>
                                <th>Positie</th>
                                <th>REF</th>
                                <th>ALT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>(1000)</td>
                                <td class="base_ref">(A)</td>
                                <td class="base_alt">(T)</td>
                            </tr>
                            <tr>
                                <td>(2945)</td>
                                <td class="base_ref">(G)</td>
                                <td class="base_alt">(C)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <fieldset>
                    <legend>Mapping Details</legend>
                    <p>Referentie Genoom: (homo_sapiens.fasta)</p>
                    <p>Totaal aantal reads: (15.240)</p>
                    <p>Mapping methode: Minimap 2 (map-ont)</p>
                </fieldset>

                <br>
                <a href="{{ url_for('reset') }}" class="button btn_reset">Nieuwe Analyse</a>
            {% endif %}
        </div>
    </div>

<footer>
    <div id="makers">
        <h2>Makers</h2>
        <p>Deze website en analyse-pipeline zijn ontwikkeld door:</p>
        <ul>
            <li>Lucas</li>
            <li>Jasmijn</li>
            <li>Vani</li>
        </ul>
    </div>

    <p>Bio-informatica project – Nanopore sequencing</p>
</footer>

    </body>
</html>
