{% extends "header.html" %}
{% block content %}

    <h1>Reference genomen</h1>

    <div class="vakken">
        <div class="info_blok">
            <p><strong>Mens genoom</strong></p>
            <p>
                Hier is een voorbeeld van mens genoom.
                <br>
                Download het bestand hier:
                <br>
                <a href="https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_000001405.26/">Human reference genome</a>
            </p>
            <br>
        </div>

        <div class="info_blok">
            <p><strong>Mug genoom</strong></p>
            <p>
                Hier is een voorbeeld van mug genoom.
                <br>
                Download het bestand hier:
                <br>
                <a href="https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_002204515.2/">Mosquito reference genome</a>
            </p>
            <br>

        </div>

        <div class="info_blok">
            <p><strong>Muis genoom</strong></p>
            <p>
                Hier is een voorbeeld van muis genoom.
                <br>
                Download het bestand hier:
                <br>
                <a href="https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_000001635.27/">Mouse reference genome</a>
            </p>
            <br>
        </div>
    </div>
{% endblock %}