{% extends "header.html" %}
{% block content %}

    <h1>Gebruikte parameters</h1>

    <div class="parent">
        <div class="child">
            <p><strong>Minimap2</strong></p>
            <p>
                Minimap2 vergelijkt Nanopore-reads (FASTQ) met een referentiegenoom.
                De output is een SAM-bestand met CIGAR-strings die verschillen
                tussen gemeten DNA en het referentiegenoom beschrijven.
            </p>
            <br>

            <p><strong>Parameters:</strong></p>
            <p>-x map-ont: <br> Voor standaard Nanopore data (foutmarge ~10%)</p>
            <p>-a: <br> Zorgt dat de output in SAM-formaat is</p>
            <p>-t: Bepaalt hoeveel processorkernen (threads) er gebruikt worden</p>
            <p>-N: Bepaalt de nauwkeurigheid van de threshold en minder kans op foutieve conclusie</p>

        </div>

        <div class="child">
            <p><strong>SAMtools</strong></p>
            <p>
                SAMtools zet grote SAM-bestanden om naar BAM-bestanden, sorteert ze
                en maakt een index. Hierdoor kan de data sneller en efficiënter
                geanalyseerd worden.
            </p>
            <br>

            <p><strong>Parameters:</strong></p>
            <p>view -b: <br> Zet de SAM-bestand om in BAM-formaat</p>
            <p>sort: <br> Zet alle DNA-stukjes op volgorde van positie (1, 2, 3...)</p>
            <p>index: <br> Maakt een "inhoudsopgave" aan</p>

        </div>

        <div class="child">
            <p><strong>BCFtools</strong></p>
            <p>
                BCFtools detecteert echte genetische variaties en filtert ruis.
                De uiteindelijke output is een VCF-bestand met betrouwbare mutaties.
            </p>
            <br>

            <p><strong>Parameters:</strong></p>
            <p>mpileup -f: <br>Telt op elke positie hoeveel read afwijken van het referentiegenoom</p>
            <p>mpileup -r: <br>Analyseert alleen een specifieke regio (als de gebruiker dat invult)</p>
            <p>call -m: <br> Gebruikt het moderne multiallelic rekenmodel</p>
            <p>filter -i: <br>Bewaart alle mutaties</p>

        </div>
    </div>

{% endblock %}