<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
        <title>Bio-informatica Pipeline | Nanopore Analyse</title>
    </head>
    <body>
    <header>
        <h1>Geautomatiseerde Nanopore Analyse</h1>
        <p> Bio-informatica project – DNA variant detectie</p>

    </header>
    <nav>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('tools') }}">Tools</a>
        <a href="{{ url_for('onderzoek') }}">Onderzoeksvragen</a>
        <a href="{{ url_for('reference') }}">Reference genomen</a><br><br>
    </nav>

    <div class="parent">
         <div class="child">
            <h1>input</h1>
             <form action="/Toolbox_BIN/static" method="POST">
                 <p class="input_output">Voeg hier uw document toe:</p>
                 <input type="file" name="data">
                 <br><br>

                 <p class="input_output">Wat wilt u als resultaat?</p>

                 <input type="checkbox" id="tabel_snps" value="tabel_snps">
                 <label for="tabel_snps">Een tabel met al de snp's </label><br>
                 <input type="checkbox" id="mutations" value="mutations">
                 <label for="mutations">Een tabel met de mutaties, hun locaties en welk type</label><br>
                 <input type="checkbox" id="qualityscore" value="qualityscore">
                 <label for="qualityscore">Een kwaliteitsscore</label><br>
                 <input type="checkbox" id="vcf_file" value="vcf_file">
                 <label for="vcf_file">A vcf document met alle snp's en hun data</label><br>

                 <br>
                <button type="submit" class="button btn_submit">Start Analyse</button>

             </form>

        </div>
                   <div class="child">
                <h1>Het Resultaat</h1>
                <p>Hieronder is het voorbeeld van het resultaat met de gedetecteerde mutaties en de bijhorende mapping data.</p>

            {% if not show_results %}
                <p>Upload een bestand en druk op submit om de analyse te starten.</p>
            {% else %}
                <p>Status: <strong>{{ uitslag.status }}</strong></p>
                <p>Bestand: {{ uitslag.filename }}</p>

                <div class="resultaat">

                {% if tabel_snps %}
                    <table>
                        <thead>
                            <tr>
                                <th>Positie</th>
                                <th>REF</th>
                                <th>ALT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>(1000)</td>
                                <td class="base_ref">(A)</td>
                                <td class="base_alt">(T)</td>
                            </tr>
                            <tr>
                                <td>(2945)</td>
                                <td class="base_ref">(G)</td>
                                <td class="base_alt">(C)</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}

                {% if tabel_mutaties %}
                    <p>Mutaties tabel hier...</p>
                {% endif %}

                {% if kwaliteitscore %}
                    <p>Kwaliteitsscore: 42 Q</p>
                {% endif %}

                {% if vcf_doc %}
                    <p>Download VCF bestand...</p>
                {% endif %}
                </div>
            </div>
        </div>

        <footer>
            <div class="makers">
                <h2>Makers</h2>
                <p>Deze website en analyse-pipeline zijn ontwikkeld door:</p>

                <p>Lucas Bos</p>
                <p>Jasmijn Peterse</p>
                <p>Vani</p>
            </div>

            <ul>
                <li>l.bos.5@st.hanze.nl</li>
                <li>jrj.peterse@st.hanze.nl</li>
                <li>email vani</li>
            </ul>
            <p>Dio-informatica project - Nanapore sequencing</p>
        </footer>
    </body>
</html>
